@keyframes toast-in {
  from {
    bottom: 20%;
    opacity: 0
  }
  to {
    bottom: 25%;
    opacity: 1
  }
}

@keyframes toast-out {
  from {
    bottom: 25%;
    opacity: 1
  }
  to {
    bottom: 20%;
    opacity: 0
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.toast {
  position: fixed;
  right: 5%;
  bottom: 25%;
  width: 10%;

  &.show {
    animation: toast-in .3s, toast-out .3s 1.7s;
  }
}

.container {
  & > .row {
    margin-top: 25px;
  }
}

.club-display {
  margin-bottom: 20px;

  .card-body {
    position: relative;

    &:hover > .btn-group-vertical {
      visibility: visible;
    }

    .btn-group-vertical {
      position: absolute;
      top: 10px;
      right: 10px;

      visibility: hidden;
    }

    @media screen and (max-width: 600px) {
      .btn-group-vertical {
        visibility: visible;
      }
    }
  }
}
